In [1]:
import pandas as pd

In [3]:
data = [0.5, None, None, 0.52, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

In [4]:
s

0    0.50
1     NaN
2     NaN
3    0.52
4     NaN
5     NaN
6    0.59
7    0.60
8     NaN
9    0.70
dtype: float64

In [5]:
s.fillna(0) # Substitui os valores nulos por 0

0    0.50
1    0.00
2    0.00
3    0.52
4    0.00
5    0.00
6    0.59
7    0.60
8    0.00
9    0.70
dtype: float64

## Métodos de interpolação

In [7]:
s

0    0.50
1     NaN
2     NaN
3    0.52
4     NaN
5     NaN
6    0.59
7    0.60
8     NaN
9    0.70
dtype: float64

In [6]:
s.fillna(method = 'ffill') #interpola de cima pra baixo ( é bem comum utilizar em series de dados de tempo)

0    0.50
1    0.50
2    0.50
3    0.52
4    0.52
5    0.52
6    0.59
7    0.60
8    0.60
9    0.70
dtype: float64

In [8]:
s.fillna(method = 'bfill') #interpola de baixo pra cima

0    0.50
1    0.52
2    0.52
3    0.52
4    0.59
5    0.59
6    0.59
7    0.60
8    0.70
9    0.70
dtype: float64

In [9]:
s.fillna(s.mean())  #interpola com a media

0    0.500
1    0.582
2    0.582
3    0.520
4    0.582
5    0.582
6    0.590
7    0.600
8    0.582
9    0.700
dtype: float64

In [11]:
s1 = s.fillna(method = 'ffill', limit = 1) #interpola de cima pra baixo, limitando a 1 posição
s1

0    0.50
1    0.50
2     NaN
3    0.52
4    0.52
5     NaN
6    0.59
7    0.60
8    0.60
9    0.70
dtype: float64

In [13]:
s1.fillna(method = 'bfill', limit = 1)

0    0.50
1    0.52
2    0.52
3    0.52
4    0.59
5    0.59
6    0.59
7    0.60
8    0.70
9    0.70
dtype: float64